<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>AWESOME Admin Login</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

  <style media="screen">
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      letter-spacing: 1px;
      font-family: "Times New Roman", Times, serif;
      text-transform: capitalize;
    }

    body {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: relative;
      background-image: url("users.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    form{
      position: absolute;
      right:20%;
    }

    input {
      height: 50px;
      width: 100%;
      outline: none;
      border: none;
      border-radius: 5px;
      background: #212121;
      color: #00ADB5;
      padding: 0 10px;
      margin: 7px 0 15px 0;
      box-shadow: 0 0 20px #00ADB5;
    }

    input::placeholder{
      color:#38E54D;
    }

    button {
      background-color: #222831;
      border-radius: 5px;
      border: none;
      color: #00ADB5;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      box-shadow: 0 0 5px #00ADB5;
    }

    button:hover {
      background-color: #222831;
      border-radius: 5px;
      border: none;
      color: #00ADB5;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      box-shadow: 0 0 10px #00ADB5;
    }

    .fa-arrow-left {
      font-size: 70px;
      position: absolute;
      top: 45%;
      left: 2%;
      color: #00ADB5;
      text-shadow: 5px 5px 10px #000000;
      cursor: pointer;
    }

    .fa-arrow-left:hover {
      font-size: 70px;
      position: absolute;
      top: 45%;
      left: 2%;
      color: #00ADB5;
      text-shadow: 0 0 10px #30E3CA;
      cursor: pointer;
    }
  </style>

</head>

<body>
  <form id="admin" action="/admin" method="post">
    <input type="password" name="code" placeholder="Enter Admin Code">
    <button type="submit">CONFIRM</button>
  </form>
  <a href="/signin"><i class="fa-solid fa-arrow-left"></i></a>
</body>

</html>
