<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Average To-Do List</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <style media="screen">
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      letter-spacing: 1px;
      font-family: "Times New Roman", Times, serif;
      text-transform: capitalize;
    }

    body {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("average.jpg");
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .weather-container {
      position: absolute;
      width: 378px;
      height: 170px;
      background-color: #fcfdfd;
      /* background-image: url('https://i.pinimg.com/originals/15/71/05/15710504898649f93190a5626de1a74c.jpg');
      background-repeat: no-repeat;
      background-position: center; */
      border-radius: 5px;
      padding: 10px;
      padding-right: 20px;
      padding-left: 20px;
      box-shadow: 0px 31px 35px -26px #171721;
      left: 18.5%;
      top: 10%;
    }

    .joke-container {
      width: 378px;
      padding: 40px;
      background-color: #EAEAEA;
      position: absolute;
      top: 39%;
      left: 18.5%;
      border-radius: 5px;
      box-shadow: 5px 5px 8px gray;
    }

    div.date {
      font-size: 14px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.5);
      text-shadow: 0 0 3px #000000;
    }

    div.location {
      font-size: 21px;
      font-weight: bold;
      text-transform: uppercase;
      padding-top: 5px;
      color: rgba(0, 0, 0, 0.7);
      text-shadow: 0 0 3px #000000;
    }

    div.temp {
      font-size: 81px;
      color: rgba(0, 0, 0, 0.9);
      font-weight: 100;
      text-shadow: 0 0 3px #000000;
    }

    div.panel {
      display: inline-block;
    }

    div.right-panel {
      position: absolute;
      float: right;
      top: 0;
      margin-top: 45px;
      padding-left: 10px;
      margin-right: 10px;
    }

    div.left-panel {}

    img {
      width: 170%;
      top: 50%;
    }

    .container {
      position: absolute;
      right: 18%;
      height: 80%;
      width: 550px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 30px #000000;
      padding: 10px;
      overflow-y: auto;
      top: 50%;
      transform: translateY(-50%);
      /* background-image: url("https://coolhdwall.com/storage/202103/cute-anime-girl-with-sunglasses-hd-wallpaper-1440x900.jpg");
      background-repeat: no-repeat;
      background-position: 78% 40%;
      background-size: cover; */
      /* filter: blur(5px); */
    }

    #input {
      height: 50px;
      width: 100%;
      outline: none;
      border: none;
      border-radius: 5px;
      background: #000000;
      color: #eeeeee;
      padding: 0 10px;
      margin: 7px 0 15px 0;
      box-shadow: 0 0 5px #171721;
    }

    #input::placeholder {
      color: gray;
    }

    ul li {
      background: #eeeeee;
      color: #06283D;
      height: 40px;
      border-radius: 50px;
      margin: 10px 0;
      padding: 10px;
      position: relative;
      box-shadow: 0 0 10px #171721;
    }

    /* ul li:nth-of-type(1n+16) {
      display: none;
    } */

    ul .fa-check,
    .fa-trash {
      position: absolute;
      cursor: pointer;
    }

    ul .fa-check {
      right: 40px;
      color: green;
    }

    ul .fa-check:hover {
      right: 40px;
      color: green;
      text-shadow: 0 0 8px lightgreen;
    }

    ul .fa-trash {
      right: 15px;
      color: #ff0033;
    }

    ul .fa-trash:hover {
      right: 15px;
      color: #ff0033;
      text-shadow: 0 0 6px #ff0033;
    }

    ul .checked {
      background: lightgreen;
      text-decoration: line-through;
      text-decoration-color: darkgreen;
      transition: .2s;
      box-shadow: 0 0 10px #91C788;
    }

    /* .fa-envelope {
      font-size: 40px;
      margin-left: 10px;
      position: relative;
      top: 10px;
      cursor: pointer;
      color: #000000;
      text-shadow: 0 0 5px #47B5FF;
      box-shadow: 0 0 7px #C3F8FF;
    } */

    .fa-face-grin-squint-tears {
      display: block;
      text-align: center;
      font-size: 80px;
      width: 100%;
      color: #171721;
    }

    #joke {
      color: #171721;
      font-size: 17px;
      font-weight: 400;
      text-align: center;
      word-wrap: break-word;
      line-height: 30px;
      margin: 30px 0;
      text-transform: uppercase;
      font-weight: 900;
      text-shadow: 0 0 1px white;
    }

    #joke-button {
      display: block;
      background-color: #eeeeee;
      border: none;
      padding: 5px;
      font-size: 18px;
      color: #222831;
      font-weight: 600;
      padding: 12px 25px;
      margin: 0 auto;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 5px #000000;
    }

    /* #joke-button:hover {
      display: block;
      background-color: #fe9900;
      border: none;
      padding: 5px;
      font-size: 18px;
      color: #171721;
      font-weight: 600;
      padding: 12px 25px;
      margin: 0 auto;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 5px #fab22e;
    } */
/*
    #spring {
      font-size: 40px;
      position: absolute;
      bottom: 23%;
      left: 1%;
      text-shadow: 0 0 10px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #spring:hover {
      font-size: 40px;
      position: absolute;
      bottom: 23%;
      left: 1%;
      text-shadow: 0 0 15px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #spring.played {
      font-size: 40px;
      position: absolute;
      bottom: 23%;
      left: 1%;
      text-shadow: 0 0 15px #9DF3C4;
      color: #D7FBE8;
      cursor: pointer;
    }

    #summer {
      font-size: 40px;
      position: absolute;
      bottom: 16%;
      left: 1%;
      text-shadow: 0 0 10px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #summer:hover {
      font-size: 40px;
      position: absolute;
      bottom: 16%;
      left: 1%;
      text-shadow: 0 0 15px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #summer.played{
      font-size: 40px;
      position: absolute;
      bottom: 16%;
      left: 1%;
      text-shadow: 0 0 15px #F9C5D5;
      color: #FEE3EC;
      cursor: pointer;
    }

    #autumn {
      font-size: 40px;
      position: absolute;
      bottom: 9%;
      left: 1%;
      text-shadow: 0 0 10px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #autumn:hover {
      font-size: 40px;
      position: absolute;
      bottom: 9%;
      left: 1%;
      text-shadow: 0 0 15px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #autumn.played {
      font-size: 40px;
      position: absolute;
      bottom: 9%;
      left: 1%;
      text-shadow: 0 0 15px #FFD8A9;
      color: #FDEEDC;
      cursor: pointer;
    }

    #winter {
      font-size: 40px;
      position: absolute;
      bottom: 2%;
      left: 1%;
      text-shadow: 0 0 10px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #winter:hover {
      font-size: 40px;
      position: absolute;
      bottom: 2%;
      left: 1%;
      text-shadow: 0 0 15px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #winter.played {
      font-size: 40px;
      position: absolute;
      bottom: 2%;
      left: 1%;
      text-shadow: 0 0 15px #A3D8F4;
      color: #B9FFFC;
      cursor: pointer;
    } */

    #music {
      font-size: 50px;
      position: absolute;
      bottom: 4%;
      left: 2%;
      text-shadow: 0 0 10px #EEEEEE;
      color: #171721;
      cursor: pointer;
    }

    #music:hover {
      font-size: 50px;
      position: absolute;
      bottom: 4%;
      left: 2%;
      text-shadow: 0 0 5px #000000;
      color: #171721;
      cursor: pointer;
    }

    #date-picker {
      outline: none;
      border: none;
      border-radius: 4px;
      background: gray;
      color: #000000;
      padding: 1px 2px;
      font-weight: 600;
      /* box-shadow: 0 0 3px #47B5FF; */
      margin-left: 1px;
    }

    .fa-arrow-left{
      font-size: 70px;
      position: absolute;
      top: 4%;
      left: 2%;
      color: #2192FF;
      text-shadow: 5px 5px 10px #000000;
      cursor: pointer;
    }

    .fa-arrow-left:hover{
      font-size: 70px;
      position: absolute;
      top: 4%;
      left: 2%;
      color: #2192FF;
      text-shadow: 0 0 10px #08D9D6;
      cursor: pointer;
    }
  </style>
</head>

<body>

  <div class="weather-container">

    <div class="left-panel panel">
      <div class="temp"></div>
      <div class="location"></div>
      <div class="date"></div>
    </div>

    <div class="right-panel panel">
      <div class="icon"></div>
    </div>
  </div>

  <div class="joke-container">
    <i class="fa-solid fa-face-grin-squint-tears"></i>
    <p id="joke">"Laughing is, and will always be, the best form of therapy."</p>
    <button id="joke-button">Get Joke</button>
  </div>

  <div class="container">
    <input type="date" id="date-picker" value=Date min="2022-01-01" max="2029-12-31">
    <input type="text" id="input" placeholder="Press 'enter' to Add New Task" autocomplete="off" maxlength="50">
    <!-- <i class="fa-solid fa-envelope" action='/' method='post'></i> -->
    <ul id="list"></ul>
  </div>

  <!-- <i class="fa-solid fa-circle-play" id="spring"></i> -->
  <!-- <audio class="spring" src="万能日记 - 风的小径.mp3"></audio> -->
  <!-- <i class="fa-solid fa-circle-play" id="summer"></i> -->
  <!-- <audio class="summer" src="春野杉卉 - 静かな夏.mp3"></audio> -->
  <!-- <i class="fa-solid fa-circle-play" id="autumn"></i> -->
  <!-- <audio class="autumn" src="N.K.杨凯 - 深秋的雨.mp3"></audio> -->
  <i class="fa-solid fa-circle-play" id="music"></i>
  <a href="/signin"><i class="fa-solid fa-arrow-left"></i></a>
  <!-- <audio class="winter" src="MT1990 - Winter gloves（冬天的手套）.mp3"></audio> -->

  <script>
    $(document).ready(function() {

      // weather

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {

          var lat = position.coords.latitude;
          var lon = position.coords.longitude;
          const appid = "c098cc8073cb75daa7e1f9c0cd0262e6";
          const url = "https://api.openweathermap.org/data/2.5/weather?lat=" + lat + "&lon=" + lon + "&appid=" + appid + "&units=imperial";
          var options = {
            weekday: "long",
            day: "numeric",
            month: "long"
          };

          $.getJSON(url, function(a) {
            $('.location').html(a.name + ", " + a.sys.country);
            $('.temp').html(a.main.temp + "°F");
            $('.icon').html('<img src=' + "http://openweathermap.org/img/w/" + a.weather[0].icon + ".png" + '>');
          });

          var current = $.now();
          var whatDate = new Date(current);
          var currentDate = whatDate.toLocaleDateString("en-US", options);
          $('.date').html(currentDate);

        });
      }

      // todo list

      $('#input').change(function() {
        var input = $(this).val();
        $('ul').append("<li>" + input + " <i class='fas fa-check'></i><i class='fas fa-trash'></i></li>");
        if ($('ul li').length > 15) {
          $('ul li:last').remove();
        }
        $(this).val('');
      });

      $('ul').on('click', '.fa-trash', function() {
        $(this).parent('li').fadeOut(200, function() {
          $(this).remove();
        });
      });

      $('ul').on('click', '.fa-check', function() {
        $(this).parent('li').toggleClass('checked');
      });

      /*joke*/
      $('#joke-button').click(async function getjoke(){
        const dadjokeurl = await fetch('https://icanhazdadjoke.com/', {
          headers: {'Accept': 'application/json'}
        });
        const dadjoke = await dadjokeurl.json();
        $('#joke').html(dadjoke.joke);
      });

      // the commented code below is the discarded jokeapi.
      // const jokeurl = "https://v2.jokeapi.dev/joke/Any?blacklistFlags=nsfw,religious,political,racist,sexist,explicit&type=single";
      //
      // $('#joke-button').click(function() {
      //   $.getJSON(jokeurl, function(j) {
      //     $('#joke').html(j.joke);
      //   });
      // });

      var music = new Audio("辛辛君 - Redbone指弹吉他.mp3");
      $('#music').click(function() {
        if (music.paused == false) {
          music.pause();
        } else {
          music.play();
        }
      });

      /*play music*/
      //if it is Audio('public/万能日记 - 风的小径.mp3'），then express won't serve the static mp3 files.
      //run app.js and access the app thru localhost:3000 instead of directly opening index.html.
      // var spring = new Audio("万能日记 - 风的小径.mp3");
      // var summer = new Audio("春野杉卉 - 静かな夏.mp3");
      // var autumn = new Audio("N.K.杨凯 - 深秋的雨.mp3");
      // var winter = new Audio("MT1990 - Winter gloves（冬天的手套）.mp3");
      // var musicarray = [spring, summer, autumn, winter];
      //
      // $('#spring').click(function() {
      //   if (musicarray[0].paused == false) {
      //     musicarray[0].pause();
      //   } else {
      //     musicarray[0].play();
      //   }
      // });
      //
      // $('#summer').click(function() {
      //   if (musicarray[1].paused == false) {
      //     musicarray[1].pause();
      //   } else {
      //     musicarray[1].play();
      //   }
      // });
      // $('#autumn').click(function() {
      //   if (musicarray[2].paused == false) {
      //     musicarray[2].pause();
      //   } else {
      //     musicarray[2].play();
      //   }
      // });
      // $('#winter').click(function() {
      //   if (musicarray[3].paused == false) {
      //     musicarray[3].pause();
      //   } else {
      //     musicarray[3].play();
      //   }
      // });
      //
      // $("#spring").on('click', function(){
      //   $(this).toggleClass('played');
      // });
      // $("#summer").on('click', function(){
      //   $(this).toggleClass('played');
      // });
      // $("#autumn").on('click', function(){
      //   $(this).toggleClass('played');
      // });
      // $("#winter").on('click', function(){
      //   $(this).toggleClass('played');
      // });

    });
  </script>
</body>

</html>
