<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Average To-Do List</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <style media="screen">
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      letter-spacing: 1px;
      font-family: "Times New Roman", Times, serif;
      text-transform: capitalize;
    }

    body {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("average.jpg");
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .weather-container {
      position: absolute;
      width: 378px;
      height: 170px;
      background-color: #fcfdfd;
      /* background-image: url('https://i.pinimg.com/originals/15/71/05/15710504898649f93190a5626de1a74c.jpg');
      background-repeat: no-repeat;
      background-position: center; */
      border-radius: 5px;
      padding: 10px;
      padding-right: 20px;
      padding-left: 20px;
      box-shadow: 0px 31px 35px -26px #171721;
      left: 18.5%;
      top: 10%;
    }

    .joke-container {
      width: 378px;
      padding: 40px;
      background-color: #EAEAEA;
      position: absolute;
      top: 39%;
      left: 18.5%;
      border-radius: 5px;
      box-shadow: 5px 5px 8px gray;
    }

    div.date {
      font-size: 14px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.5);
      text-shadow: 0 0 3px #000000;
    }

    div.location {
      font-size: 21px;
      font-weight: bold;
      text-transform: uppercase;
      padding-top: 5px;
      color: rgba(0, 0, 0, 0.7);
      text-shadow: 0 0 3px #000000;
    }

    div.temp {
      font-size: 81px;
      color: rgba(0, 0, 0, 0.9);
      font-weight: 100;
      text-shadow: 0 0 3px #000000;
    }

    div.panel {
      display: inline-block;
    }

    div.right-panel {
      position: absolute;
      float: right;
      top: 0;
      margin-top: 45px;
      padding-left: 10px;
      margin-right: 10px;
    }

    div.left-panel {}

    img {
      width: 170%;
      top: 50%;
    }

    .container {
      position: absolute;
      right: 18%;
      height: 80%;
      width: 550px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 30px #000000;
      padding: 10px;
      overflow-y: auto;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("jackie.png");
      background-repeat: no-repeat;
      background-position: 85% 90%;
      background-size:auto;
    }

    #input {
      height: 50px;
      width: 100%;
      outline: none;
      border: none;
      border-radius: 5px;
      background: #000000;
      color: #eeeeee;
      padding: 0 10px;
      margin: 7px 0 15px 0;
      box-shadow: 0 0 5px #171721;
    }

    #input::placeholder {
      color: gray;
    }

    ul li {
      background: #eeeeee;
      color: #06283D;
      height: 40px;
      border-radius: 50px;
      margin: 10px 0;
      padding: 10px;
      position: relative;
      box-shadow: 0 0 10px #171721;
    }

    /* ul li:nth-of-type(1n+16) {
      display: none;
    } */

    ul .fa-check,
    .fa-trash {
      position: absolute;
      cursor: pointer;
    }

    ul .fa-check {
      right: 40px;
      color: green;
    }

    ul .fa-check:hover {
      right: 40px;
      color: green;
      text-shadow: 0 0 8px lightgreen;
    }

    ul .fa-trash {
      right: 15px;
      color: #ff0033;
    }

    ul .fa-trash:hover {
      right: 15px;
      color: #ff0033;
      text-shadow: 0 0 6px #ff0033;
    }

    ul .checked {
      background: lightgreen;
      text-decoration: line-through;
      text-decoration-color: darkgreen;
      transition: .2s;
      box-shadow: 0 0 10px #91C788;
    }

    /* .fa-envelope {
      font-size: 40px;
      margin-left: 10px;
      position: relative;
      top: 10px;
      cursor: pointer;
      color: #000000;
      text-shadow: 0 0 5px #47B5FF;
      box-shadow: 0 0 7px #C3F8FF;
    } */

    .fa-face-grin-squint-tears {
      display: block;
      text-align: center;
      font-size: 59px;
      width: 100%;
      color: #171721;
    }

    #joke {
      color: #171721;
      font-size: 17px;
      font-weight: 400;
      text-align: center;
      word-wrap: break-word;
      line-height: 30px;
      margin: 30px 0;
      text-transform: uppercase;
      font-weight: 900;
      text-shadow: 0 0 1px white;
    }

    #joke-button {
      display: block;
      background-color: #eeeeee;
      border: none;
      padding: 5px;
      font-size: 18px;
      color: #222831;
      font-weight: 600;
      padding: 12px 25px;
      margin: 0 auto;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 5px #000000;
    }

    #music {
      font-size: 50px;
      position: absolute;
      bottom: 4%;
      left: 2%;
      color: white;
      cursor: pointer;
    }

    #music:hover {
      font-size: 50px;
      position: absolute;
      bottom: 4%;
      left: 2%;
      text-shadow: 0 0 5px #000000;
      color: #171721;
      cursor: pointer;
    }

    .fa-arrow-left {
      font-size: 70px;
      position: absolute;
      top: 4%;
      left: 2%;
      color: #08D9D6;
      text-shadow: 5px 5px 10px #000000;
      cursor: pointer;
    }

    .fa-arrow-left:hover {
      font-size: 70px;
      position: absolute;
      top: 4%;
      left: 2%;
      color: #08D9D6;
      text-shadow: 0 0 10px #08D9D6;
      cursor: pointer;
    }
  </style>
</head>

<body>

  <div class="weather-container">

    <div class="left-panel panel">
      <div class="temp"></div>
      <div class="location"></div>
      <div class="date"></div>
    </div>

    <div class="right-panel panel">
      <div class="icon"></div>
    </div>
  </div>

  <div class="joke-container">
    <i class="fa-solid fa-face-grin-squint-tears"></i>
    <p id="joke">"Create an account to unlock dad jokes and modern oriental background music."</p>
    <button id="joke-button">Get Joke</button>
  </div>

  <div class="container">
    <form class="add-todos">
      <input type="text" id="input" placeholder="Press 'enter' to Add New Task" autocomplete="off" maxlength="50">
      <button type="submit" style="display: none;"></button>
    </form>
    <ul id="list"></ul>
  </div>

  <i class="fa-solid fa-circle-play" id="music"></i>
  <a href="/signin"><i class="fa-solid fa-arrow-left"></i></a>

  <script>
    $(document).ready(function() {

      // weather info feature

      if (navigator.geolocation) {

        navigator.geolocation.getCurrentPosition(function(position) {
          // Weather class
          class Weather {
            constructor(lat, lon, url, appid) {
              this.lat = lat;
              this.lon = lon;
              this.url = url;
              this.appid = appid;
            }

            // latitude getter function
            get getLat() {
              return this.lat;
            }

            // latitude setter function
            set setLat(lat) {
              this.lat = lat;
            }

            // longitude getter function
            get getLon() {
              return this.lon;
            }

            // longitude setter function
            set setLon(lon) {
              this.lon = lon;
            }

            // URL getter function
            get getURL() {
              return this.url;
            }

            // URL setter function
            set setURL(url) {
              this.url = url;
            }

            get getAPPID() {
              return this.appid;
            }

            // URL setter function
            set setAPPID(appid) {
              this.appid = appid;
            }

            display() {
              $.getJSON(this.url, function(a) {
                $('.location').html(a.name + ", " + a.sys.country);
                $('.temp').html(a.main.temp + "°F");
                $('.icon').html('<img src=' + "http://openweathermap.org/img/w/" + a.weather[0].icon + ".png" + '>');
              });
            }

          }

          let appid = "c098cc8073cb75daa7e1f9c0cd0262e6";
          let url = "https://api.openweathermap.org/data/2.5/weather?lat=" + position.coords.latitude + "&lon=" + position.coords.longitude + "&appid=" + appid + "&units=imperial";

          const weather = new Weather(position.coords.latitude, position.coords.longitude, url, appid);

          weather.display();


          // Date class
          class WhatDate {
            constructor(options, current, whatDate, currentDate) {
              this.options = options;
              this.current = current;
              this.whatDate = whatDate;
              this.currentDate = currentDate;
            }

            displayDate() {
              $('.date').html(currentDate);
            }
          }

          let options = {
            weekday: "long",
            day: "numeric",
            month: "long"
          };

          let current = $.now();
          let whatDate = new Date(current);
          let currentDate = whatDate.toLocaleDateString("en-US", options);

          const date = new WhatDate(options, current, whatDate, currentDate);
          date.displayDate();
        });
      }


      // ListApp class
      class ListApp {
        constructor() {
          this.userInput;
        }

        storeToDo() {
          $('#list').html(localStorage.getItem('guesttodos'));
        }

        inputToDo() {
          $('#input').change(function(e) {
            e.preventDefault();
            this.userInput = $(this).val();
            $('ul').append("<li>" + this.userInput + " <i class='fas fa-check'></i><i class='fas fa-trash'></i></li>");
            if ($('ul li').length > 10) {
              $('ul li:last').remove();
            } else {
              localStorage.setItem('guesttodos', $('#list').html());
            }
            $(this).val('');
          });
        }

        trash() {
          $('ul').on('click', '.fa-trash', function() {
            $(this).parent('li').fadeOut(200, function() {
              $(this).remove();
              localStorage.setItem('guesttodos', $('#list').html());
            });
          });
        }

        check() {
          $('ul').on('click', '.fa-check', function() {
            $(this).parent('li').toggleClass('checked');
            localStorage.setItem('guesttodos', $('#list').html());
          });
        }
      }

      const atdl = new ListApp();
      atdl.storeToDo();
      atdl.inputToDo();
      atdl.check();
      atdl.trash();
      $('#input').focus();


      $('#joke-button').click(function() {
        $('#joke').html("No account, no dad jokes, no music, no colorful background, no anime girl, yes Jackie Chan.");
      });


      var music = new Audio("辛辛君 - Redbone指弹吉他.mp3");
      $('#music').click(function() {
        if (music.paused == false) {
          music.pause();
        } else {
          music.play();
        }
      });
    })
  </script>
</body>

</html>
