<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Awesome To-Do List</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <style media="screen">
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      letter-spacing: 1px;
      font-family: "Times New Roman", Times, serif;
      text-transform: capitalize;
    }

    body.normal {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("room.png");
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      bakcground-position: center;
      position: relative;
    }

    body.winter {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("winter.png");
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      bakcground-position: center;
      position: relative;
    }

    body.spring {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("spring.png");
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      bakcground-position: center;
      position: relative;
    }

    body.autumn {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("autumn.jpg");
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      bakcground-position: center;
      position: relative;
    }

    body.summer {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("summer.png");
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      bakcground-position: center;
      position: relative;
    }

    .weather-container {
      position: absolute;
      width: 378px;
      height: 170px;
      background-color: #fcfdfd;
      background-image: url('sky.jpg');
      background-repeat: no-repeat;
      background-position: 91% 10%;
      border-radius: 5px;
      padding: 10px;
      padding-right: 20px;
      padding-left: 20px;
      box-shadow: 0px 31px 35px -26px #C3F8FF;
      left: 18.5%;
      top: 10%;
    }

    .weather-container.autumn {
      position: absolute;
      width: 378px;
      height: 170px;
      background-color: #fcfdfd;
      background-image: url('autumn.jpg');
      background-repeat: no-repeat;
      background-position: 55% 22%;
      border-radius: 5px;
      padding: 10px;
      padding-right: 20px;
      padding-left: 20px;
      box-shadow: 0px 31px 35px -26px #FDA65D;
      left: 18.5%;
      top: 10%;
    }

    .weather-container.spring {
      position: absolute;
      width: 378px;
      height: 170px;
      background-color: #fcfdfd;
      background-image: url('spring.png');
      background-repeat: no-repeat;
      background-position: 90% 20%;
      border-radius: 5px;
      padding: 10px;
      padding-right: 20px;
      padding-left: 20px;
      box-shadow: 0px 31px 35px -26px #F2789F;
      left: 18.5%;
      top: 10%;
    }

    .joke-container {
      width: 378px;
      padding: 40px;
      background-color: #EAEAEA;
      position: absolute;
      top: 39%;
      left: 18.5%;
      border-radius: 5px;
      box-shadow: 5px 5px 10px #08D9D6;
    }

    .joke-container.autumn {
      width: 378px;
      padding: 40px;
      background-color: #EAEAEA;
      position: absolute;
      top: 39%;
      left: 18.5%;
      border-radius: 5px;
      box-shadow: 5px 5px 10px #FF8243;
    }

    .joke-container.spring {
      width: 378px;
      padding: 40px;
      background-color: #EAEAEA;
      position: absolute;
      top: 39%;
      left: 18.5%;
      border-radius: 5px;
      box-shadow: 5px 5px 10px #F875AA;
    }

    div.date {
      font-size: 14px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.5);
      text-shadow: 1px 1px 3px #000000;
    }

    div.location {
      font-size: 21px;
      font-weight: bold;
      text-transform: uppercase;
      padding-top: 5px;
      color: rgba(0, 0, 0, 0.7);
      text-shadow: 1px 1px 3px #000000;
    }

    div.temp {
      font-size: 81px;
      color: rgba(0, 0, 0, 0.9);
      font-weight: 100;
      text-shadow: 3px 3px 5px #000000;
    }

    div.panel {
      display: inline-block;
    }

    div.right-panel {
      position: absolute;
      float: right;
      top: 0;
      margin-top: 45px;
      padding-left: 10px;
      margin-right: 10px;
    }

    div.left-panel {}

    img {
      width: 170%;
      top: 50%;
    }

    .container {
      position: absolute;
      right: 18%;
      height: 80%;
      width: 550px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 30px #2192FF;
      padding: 10px;
      overflow-y: auto;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("henry.gif");
      background-repeat: no-repeat;
      background-position: 78% 40%;
      background-size: cover;
      /* filter: blur(5px); */
    }

    .container.autumn {
      position: absolute;
      right: 18%;
      height: 80%;
      width: 550px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 30px #E26A2C;
      padding: 10px;
      overflow-y: auto;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("henry.gif");
      background-repeat: no-repeat;
      background-position: 78% 40%;
      background-size: cover;
      /* filter: blur(5px); */
    }

    .container.spring {
      position: absolute;
      right: 18%;
      height: 80%;
      width: 550px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 30px #F2789F;
      padding: 10px;
      overflow-y: auto;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("henry.gif");
      background-repeat: no-repeat;
      background-position: 78% 40%;
      background-size: cover;
      /* filter: blur(5px); */
    }

    #input {
      height: 50px;
      width: 100%;
      outline: none;
      border: none;
      border-radius: 5px;
      background: #06283D;
      color: #DFF6FF;
      padding: 0 10px;
      margin: 7px 0 15px 0;
      box-shadow: 0 0 5px #0C7B93;
    }

    #input::placeholder {
      color: #4C6793;
    }

    ul li {
      background: #C3F8FF;
      color: #06283D;
      height: 40px;
      border-radius: 50px;
      margin: 10px 0;
      padding: 10px;
      position: relative;
      box-shadow: 0 0 10px #08D9D6;
    }

    /* ul li:nth-of-type(1n+16) {
      display: none;
    } */

    ul .fa-check,
    .fa-trash {
      position: absolute;
      cursor: pointer;
    }

    ul .fa-check {
      right: 40px;
      color: green;
    }

    ul .fa-check:hover {
      right: 40px;
      color: green;
      text-shadow: 0 0 8px lightgreen;
    }

    ul .fa-trash {
      right: 15px;
      color: #ff0033;
    }

    ul .fa-trash:hover {
      right: 15px;
      color: #ff0033;
      text-shadow: 0 0 6px #ff0033;
    }

    ul .checked {
      background: lightgreen;
      text-decoration: line-through;
      text-decoration-color: darkgreen;
      transition: .2s;
      box-shadow: 0 0 10px #91C788;
    }

    .fa-face-grin-squint-tears {
      display: block;
      text-align: center;
      font-size: 80px;
      width: 100%;
      color: #00ADB5;
    }

    .fa-face-grin-squint-tears.autumn {
      display: block;
      text-align: center;
      font-size: 80px;
      width: 100%;
      color: #E26A2C;
    }

    .fa-face-grin-squint-tears.spring {
      display: block;
      text-align: center;
      font-size: 80px;
      width: 100%;
      color: #F2789F;
    }

    #joke {
      color: #171721;
      font-size: 17px;
      font-weight: 400;
      text-align: center;
      word-wrap: break-word;
      line-height: 30px;
      margin: 30px 0;
      text-transform: uppercase;
      font-weight: 900;
      text-shadow: 0 0 1px white;
    }

    #joke-button {
      display: block;
      background-color: #08D9D6;
      border: none;
      padding: 5px;
      font-size: 18px;
      color: #222831;
      font-weight: 600;
      padding: 12px 25px;
      margin: 0 auto;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 5px #31E1F7;
    }

    #joke-button.autumn {
      display: block;
      background-color: #FF8243;
      border: none;
      padding: 5px;
      font-size: 18px;
      color: #222831;
      font-weight: 600;
      padding: 12px 25px;
      margin: 0 auto;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 5px #FDA65D;
    }

    #joke-button.spring {
      display: block;
      background-color: #F999B7;
      border: none;
      padding: 5px;
      font-size: 18px;
      color: #222831;
      font-weight: 600;
      padding: 12px 25px;
      margin: 0 auto;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 5px #F9C5D5;
    }

    #joke-button:hover {
      display: block;
      background-color: #fe9900;
      border: none;
      padding: 5px;
      font-size: 18px;
      color: #171721;
      font-weight: 600;
      padding: 12px 25px;
      margin: 0 auto;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 5px #fab22e;
    }

    #spring {
      font-size: 40px;
      position: absolute;
      bottom: 23%;
      left: 1%;
      text-shadow: 0 0 10px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #spring:hover {
      font-size: 40px;
      position: absolute;
      bottom: 23%;
      left: 1%;
      text-shadow: 0 0 15px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #spring.played {
      font-size: 40px;
      position: absolute;
      bottom: 23%;
      left: 1%;
      text-shadow: 0 0 15px #9DF3C4;
      color: #D7FBE8;
      cursor: pointer;
    }

    #summer {
      font-size: 40px;
      position: absolute;
      bottom: 16%;
      left: 1%;
      text-shadow: 0 0 10px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #summer:hover {
      font-size: 40px;
      position: absolute;
      bottom: 16%;
      left: 1%;
      text-shadow: 0 0 15px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #summer.played {
      font-size: 40px;
      position: absolute;
      bottom: 16%;
      left: 1%;
      text-shadow: 0 0 15px #F9C5D5;
      color: #FEE3EC;
      cursor: pointer;
    }

    #autumn {
      font-size: 40px;
      position: absolute;
      bottom: 9%;
      left: 1%;
      text-shadow: 0 0 10px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #autumn:hover {
      font-size: 40px;
      position: absolute;
      bottom: 9%;
      left: 1%;
      text-shadow: 0 0 15px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #autumn.played {
      font-size: 40px;
      position: absolute;
      bottom: 9%;
      left: 1%;
      text-shadow: 0 0 15px #FFD8A9;
      color: #FDEEDC;
      cursor: pointer;
    }

    #winter {
      font-size: 40px;
      position: absolute;
      bottom: 2%;
      left: 1%;
      text-shadow: 0 0 10px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #winter:hover {
      font-size: 40px;
      position: absolute;
      bottom: 2%;
      left: 1%;
      text-shadow: 0 0 15px #EEEEEE;
      color: #F4F9F9;
      cursor: pointer;
    }

    #winter.played {
      font-size: 40px;
      position: absolute;
      bottom: 2%;
      left: 1%;
      text-shadow: 0 0 15px #A3D8F4;
      color: #B9FFFC;
      cursor: pointer;
    }

    #signout {
      top: 2%;
      left: 1.5%;
      position: absolute;
    }

    .fa-arrow-left {
      font-size: 50px;
      position: absolute;
      /* top: 3%;
      left: 1.5%; */
      color: #71C9CE;
      text-shadow: 0px 0px 5px #EEEEEE;
      cursor: pointer;
    }

    .fa-arrow-left.spring {
      font-size: 50px;
      position: absolute;
      /* top: 3%;
      left: 1.5%; */
      color: #850E35;
      text-shadow: 0px 0px 10px #F2789F;
      cursor: pointer;
    }

    .fa-arrow-left.autumn {
      font-size: 50px;
      position: absolute;
      /* top: 3%;
      left: 1.5%; */
      color: #E84545;
      text-shadow: 0px 0px 10px #FFD07F;
      cursor: pointer;
    }

    .fa-arrow-left:hover {
      font-size: 50px;
      position: absolute;
      /* top: 3%;
      left: 1.5%; */
      color: #C9D6DF;
      text-shadow: 0 0 10px #EEEEEE;
      cursor: pointer;
    }

    #top.fa-circle {
      position: absolute;
      font-size: 16px;
      bottom: 21%;
      right: 16%;
      text-shadow: 0 0 5px #EEEEEE;
      color: #D6E4E5;
      cursor: pointer;
    }

    #top.fa-circle:hover {
      position: absolute;
      font-size: 16px;
      bottom: 21%;
      right: 16%;
      text-shadow: 0 0 10px #EEEEEE;
      color: #EAEAEA;
      cursor: pointer;
    }

    #mid.fa-circle {
      position: absolute;
      font-size: 16px;
      bottom: 16%;
      right: 16%;
      text-shadow: 0 0 15px #1FAB89;
      color: #9DF3C4;
    }

    #bottom.fa-circle {
      position: absolute;
      font-size: 16px;
      bottom: 11%;
      right: 16%;
      text-shadow: 0 0 5px #EEEEEE;
      color: #D6E4E5;
      cursor: pointer;
    }

    #bottom.fa-circle:hover {
      position: absolute;
      font-size: 16px;
      bottom: 11%;
      right: 16%;
      text-shadow: 0 0 10px #EEEEEE;
      color: #EAEAEA;
      cursor: pointer;
    }
  </style>

</head>

<body class="normal">

  <div class="weather-container">

    <div class="left-panel panel">
      <div class="temp"></div>
      <div class="location"></div>
      <div class="date"></div>
    </div>

    <div class="right-panel panel">
      <div class="icon"></div>
    </div>
  </div>

  <div class="joke-container">
    <i class="fa-solid fa-face-grin-squint-tears"></i>
    <p id="joke">"Laughing is, and will always be, the best form of therapy."</p>
    <button id="joke-button">Get Joke</button>
  </div>

  <div class="container">
    <form class="add-todos">
      <input type="text" id="input" placeholder="Press 'enter' to Add New Task" autocomplete="off" maxlength="50">
      <button type="submit" style="display: none;"></button>
    </form>
    <ul id="list"></ul>
  </div>

  <a href="/"><i id="top" class="fa-solid fa-circle"></i></a>
  <i id="mid" class="fa-solid fa-circle"></i>
  <a href="/bottom"><i id="bottom" class="fa-solid fa-circle"></i></a>

  <i class="fa-solid fa-circle-play" id="spring"></i>
  <!-- <audio class="spring" src="万能日记 - 风的小径.mp3"></audio> -->
  <i class="fa-solid fa-circle-play" id="summer"></i>
  <!-- <audio class="summer" src="春野杉卉 - 静かな夏.mp3"></audio> -->
  <i class="fa-solid fa-circle-play" id="autumn"></i>
  <!-- <audio class="autumn" src="N.K.杨凯 - 深秋的雨.mp3"></audio> -->
  <i class="fa-solid fa-circle-play" id="winter"></i>
  <!-- <audio class="winter" src="MT1990 - Winter gloves（冬天的手套）.mp3"></audio> -->
  <a href="/logout" id="signout"><i class="fa-solid fa-arrow-left"></i></a>


  <script>
    $(document).ready(function() {

      // weather info feature

      if (navigator.geolocation) {

        navigator.geolocation.getCurrentPosition(function(position) {

          // Weather class
          class Weather {
            constructor(lat, lon, url, appid) {
              this.lat = lat;
              this.lon = lon;
              this.url = url;
              this.appid = appid;
            }

            // latitude getter function
            get getLat() {
              return this.lat;
            }

            // latitude setter function
            set setLat(lat) {
              this.lat = lat;
            }

            // longitude getter function
            get getLon() {
              return this.lon;
            }

            // longitude setter function
            set setLon(lon) {
              this.lon = lon;
            }

            // URL getter function
            get getURL() {
              return this.url;
            }

            // URL setter function
            set setURL(url) {
              this.url = url;
            }

            get getAPPID() {
              return this.appid;
            }

            // URL setter function
            set setAPPID(appid) {
              this.appid = appid;
            }

            display() {
              $.getJSON(this.url, function(a) {
                $('.location').html(a.name + ", " + a.sys.country);
                $('.temp').html(a.main.temp + "°F");
                $('.icon').html('<img src=' + "http://openweathermap.org/img/w/" + a.weather[0].icon + ".png" + '>');
              });
            }

          }

          let appid = "c098cc8073cb75daa7e1f9c0cd0262e6";
          let url = "https://api.openweathermap.org/data/2.5/weather?lat=" + position.coords.latitude + "&lon=" + position.coords.longitude + "&appid=" + appid + "&units=imperial";

          const weather = new Weather(position.coords.latitude, position.coords.longitude, url, appid);

          weather.display();



          // Date class
          class WhatDate {
            constructor(options, current, whatDate, currentDate) {
              this.options = options;
              this.current = current;
              this.whatDate = whatDate;
              this.currentDate = currentDate;
            }

            displayDate() {
              $('.date').html(currentDate);
            }
          }

          let options = {
            weekday: "long",
            day: "numeric",
            month: "long"
          };

          let current = $.now();
          let whatDate = new Date(current);
          let currentDate = whatDate.toLocaleDateString("en-US", options);

          const date = new WhatDate(options, current, whatDate, currentDate);
          date.displayDate();
        });
      }


      // ListApp class
      class ListApp {
        constructor() {
          this.userInput;
        }

        storeToDo() {
          $('#list').html(localStorage.getItem('midtodos'));
        }

        inputToDo() {
          $('#input').change(function(e) {
            e.preventDefault();
            this.userInput = $(this).val();
            $('ul').append("<li>" + this.userInput + " <i class='fas fa-check'></i><i class='fas fa-trash'></i></li>");
            if ($('ul li').length > 50) {
              $('ul li:last').remove();
            } else {
              localStorage.setItem('midtodos', $('#list').html());
            }
            $(this).val('');
          });
        }

        trash() {
          $('ul').on('click', '.fa-trash', function() {
            $(this).parent('li').fadeOut(200, function() {
              $(this).remove();
              localStorage.setItem('midtodos', $('#list').html());
            });
          });
        }

        check() {
          $('ul').on('click', '.fa-check', function() {
            $(this).parent('li').toggleClass('checked');
            localStorage.setItem('midtodos', $('#list').html());
          });
        }
      }

      const atdl = new ListApp();
      atdl.storeToDo();
      atdl.inputToDo();
      atdl.check();
      atdl.trash();
      $('#input').focus();

      // JokeApp class
      class JokeApp {
        constructor() {
          this.dadjokeurl;
          this.dadjoke;
        }

        createDadJoke() {
          $('#joke-button').click(async function getjoke() {
            this.dadjokeurl = await fetch('https://icanhazdadjoke.com/', {
              headers: {
                'Accept': 'application/json'
              }
            });
            this.dadjoke = await this.dadjokeurl.json();
            $('#joke').html(this.dadjoke.joke);
          });
        }
      }

      const joke = new JokeApp();
      joke.createDadJoke();

      // MusicApp class constructor function
      function MusicApp() {

        this.spring = new Audio("万能日记 - 风的小径.mp3");
        this.summer = new Audio("春野杉卉 - 静かな夏.mp3");
        this.autumn = new Audio("N.K.杨凯 - 深秋的雨.mp3");
        this.winter = new Audio("MT1990 - Winter gloves（冬天的手套）.mp3");

        let musicarray = [this.spring, this.summer, this.autumn, this.winter];

        this.playSpring = function() {
          $('#spring').click(function() {
            if (musicarray[0].paused == false) {
              musicarray[0].pause();
            } else {
              musicarray[0].play();
            }
          });
          $("#spring").on('click', function() {
            $(this).toggleClass('played');
            $('body,html').toggleClass('spring');
            $('.container').toggleClass('spring');
            $('.joke-container').toggleClass('spring');
            $('#joke-button').toggleClass('spring');
            $('.fa-face-grin-squint-tears').toggleClass('spring');
            $('.weather-container').toggleClass('spring');
            $('.fa-arrow-left').toggleClass('spring');
          });
        }

        this.playSummer = function() {
          $('#summer').click(function() {
            if (musicarray[1].paused == false) {
              musicarray[1].pause();
            } else {
              musicarray[1].play();
            }
          });
          $("#summer").on('click', function() {
            $(this).toggleClass('played');
            $('body,html').toggleClass('summer');
          });
        }

        this.playAutumn = function() {
          $('#autumn').click(function() {
            if (musicarray[2].paused == false) {
              musicarray[2].pause();
            } else {
              musicarray[2].play();
            }
          });
          $("#autumn").on('click', function() {
            $(this).toggleClass('played');
            $('body,html').toggleClass('autumn');
            $('.container').toggleClass('autumn');
            $('.joke-container').toggleClass('autumn');
            $('#joke-button').toggleClass('autumn');
            $('.fa-face-grin-squint-tears').toggleClass('autumn');
            $('.weather-container').toggleClass('autumn');
            $('.fa-arrow-left').toggleClass('autumn');
          });
        }

        this.playWinter = function() {
          $('#winter').click(function() {
            if (musicarray[3].paused == false) {
              musicarray[3].pause();
            } else {
              musicarray[3].play();
            }
          });
          $("#winter").on('click', function() {
            $(this).toggleClass('played');
            $('body,html').toggleClass('winter');
          });
        }

      }

      const music = new MusicApp();

      music.playSpring();
      music.playSummer();
      music.playAutumn();
      music.playWinter();

    });
  </script>
</body>

</html>
