<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>User Account Database</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <style media="screen">
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      letter-spacing: 1px;
      font-family: "Times New Roman", Times, serif;
    }

    body {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("data.jpg");
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      bakcground-position: center;
      position: relative;
    }

    .container {
      position: absolute;
      height: 80%;
      width: 70%;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 40px #00ADB5;
      padding: 10px;
      overflow-y: auto;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("users.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .fa-trash {
      position: absolute;
      top: 3.5%;
      right: 1.8%;
      border: none;
      /* Remove borders */
      color: #ff0033;
      /* White text */
      padding: none;
      /* Some padding */
      font-size: 25px;
      /* Set a font size */
      cursor: pointer;
      /* Mouse pointer on hover */
    }

    .fa-trash:hover {
      position: absolute;
      top: 3.5%;
      right: 1.8%;
      border: none;
      /* Remove borders */
      color: #ff0033;
      /* White text */
      padding: none;
      /* Some padding */
      font-size: 25px;
      /* Set a font size */
      cursor: pointer;
      /* Mouse pointer on hover */
      text-shadow: 0 0 10px #ff0033;
    }

    .fa-clock {
      position: absolute;
      top: 12.5%;
      right: 1.8%;
      border: none;
      /* Remove borders */
      color: #F9ED69;
      /* White text */
      padding: none;
      /* Some padding */
      font-size: 25px;
      /* Set a font size */
      cursor: pointer;
      /* Mouse pointer on hover */
    }

    .fa-clock:hover {
      top: 12.5%;
      right: 1.8%;
      border: none;
      /* Remove borders */
      color: #F9ED69;
      /* White text */
      padding: none;
      /* Some padding */
      font-size: 25px;
      /* Set a font size */
      cursor: pointer;
      /* Mouse pointer on hover */
      text-shadow: 0 0 10px #F9ED69;
    }

    ul li {
      background: #C3F8FF;
      color: #06283D;
      height: 40px;
      border-radius: 50px;
      margin: 10px 0;
      padding: 10px;
      position: relative;
      box-shadow: 0 0 10px #08D9D6;
      font-size: 15px;
      font-weight: 200;
    }

    .fa-arrow-left {
      font-size: 70px;
      position: absolute;
      top: 4%;
      left: 2%;
      color: #00ADB5;
      text-shadow: 0 0 5px #08D9D6;
      cursor: pointer;
    }

    .fa-arrow-left:hover {
      font-size: 70px;
      position: absolute;
      top: 4%;
      left: 2%;
      color: #00ADB5;
      text-shadow: 0 0 10px #08D9D6;
      cursor: pointer;
    }

    #input {
      height: 30px;
      width: 95%;
      outline: none;
      border: none;
      border-radius: 5px;
      background: #06283D;
      color: #DFF6FF;
      padding: 0 10px;
      margin: 7px 0 15px 0;
      box-shadow: 0 0 5px #0C7B93;
    }

    #input::placeholder {
      color: #4C6793;
    }
  </style>
</head>

<body>


  <div class="container">
    <form action="/guys" method="post">
      <input type="text" id="input" name="userID" placeholder="Enter the ID, Click the Trashcan to DELETE the Account" autocomplete="off" maxlength="50">
      <button type='submit' class='delete'><i class='fas fa-trash'></i></button>
    </form>
    <form action="/times" method="post">
      <input type="text" id="input" name="userID" placeholder="Enter the ID, Click the Clock to See Its Creation Time" autocomplete="off" maxlength="50">
      <button type='submit' class='delete'><i class="fa-solid fa-clock"></i></button>
    </form>
    <ul id="list"></ul>
  </div>

  <a href="/signin"><i class="fa-solid fa-arrow-left"></i></a>

  <script>
    $(document).ready(function() {

    class UserAccount{
      constructor(data){
        this.data = data;
      }

      display(){
        $.getJSON(this.data, function(a) {
          for (var i = 0; i < a.length; i++) {
            $('ul').append("<li>" + JSON.stringify(a[i]) + "</li>");
          }
        });
      }
    }

    const useraccount = new UserAccount("http://localhost:3000/guys");
    useraccount.display();

    });
  </script>
</body>

</html>
